@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #F0F2EF;
  color: #0A0908;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Mukta", sans-serif;
  line-height: 1.6rem;
}

p {
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.953rem;
}

a {
  color: #E03616;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover, a:focus, a:active {
  color: #FCFFFE;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1320px) {
  html {
    font-size: 24px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.btn__primary {
  padding: 0.75em 1.5em;
  font-size: 1.25rem;
}

.btn__secondary {
  font-size: 0.8rem;
  padding: 0.5em 1em;
}

.btn__primary, .btn__secondary {
  background-color: #E03616;
  color: #FCFFFE;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn__primary:hover, .btn__primary:focus, .btn__primary:active, .btn__secondary:hover, .btn__secondary:focus, .btn__secondary:active {
  background-color: #0A0908;
  color: #FCFFFE;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn__primary:focus, .btn__secondary:focus {
  -webkit-box-shadow: 0 0 0 0.25em #FCFFFE;
          box-shadow: 0 0 0 0.25em #FCFFFE;
}

.btn--disabled {
  opacity: 0.8%;
}

.btn__card-pedido {
  padding: 0.5em 0;
}

.btn__full-width {
  width: 100%;
}

.card {
  max-width: 300px;
  border-radius: 0;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__bottom-info {
  justify-self: flex-end;
}

.card__bottom-info .btn__secondary {
  width: 100%;
}

.card__title,
.card__description {
  margin-bottom: 0.45em;
}

.card__description {
  font-size: 0.8rem;
  margin-bottom: 0;
  line-height: 25px;
}

.card__title {
  font-size: 1.25rem;
  position: relative;
  margin-left: 10px;
}

.card__title:before {
  content: '';
  position: absolute;
  background-color: #E03616;
  width: 4px;
  height: 70%;
  top: 12%;
  left: -10px;
}

@media (min-width: 1300px) {
  .card__title:before {
    height: 85%;
    top: 3%;
  }
}

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #E2DFE1;
  padding: 0.25rem 0.5rem;
}

.card__price__text, .card__price__amount {
  margin-bottom: 0;
}

.card__price__text {
  text-transform: uppercase;
}

.card__price__amount {
  font-weight: 700;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cart {
  position: fixed;
  cursor: pointer;
  top: 5rem;
  z-index: 998;
  padding: 2rem;
  border-radius: 100%;
  margin-top: 0.5rem;
  background-color: #E03616;
  height: 75px;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(5px 5px 0px rgba(10, 9, 8, 0.75));
          filter: drop-shadow(5px 5px 0px rgba(10, 9, 8, 0.75));
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cart i {
  font-size: 1.953rem;
  color: #FCFFFE;
}

.cart:hover,
.cart:focus,
.cart:active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-filter: drop-shadow(0 0 0 #0A0908);
          filter: drop-shadow(0 0 0 #0A0908);
  color: #E03616;
}

.cart-container {
  position: fixed;
  top: 5rem;
  right: 8vw;
  z-index: 999;
}

.container-cart {
  position: relative;
}

@media (min-width: 576px) {
  .cart-container {
    right: 12vw;
  }
}

.cart__icon {
  position: relative;
}

.cart__indicador {
  background-color: #0A0908;
  color: #FCFFFE;
  border-radius: 50%;
  z-index: 15;
  text-align: center;
  position: absolute;
  top: -15%;
  left: 55%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 1rem;
  padding: 0.04em 0.5em;
  min-width: 1.7em;
  min-height: 1.75em;
}

@media (min-width: 1200px) {
  .cart__indicator {
    min-width: 2em;
    min-height: 2em;
    font-size: 1rem;
  }
}

.form-control {
  margin-bottom: -0.05em;
  border-radius: 0 !important;
}

.form-control:focus, .form-control:active {
  -webkit-box-shadow: 0 0 0 0.25em rgba(167, 42, 17, 0.75) !important;
          box-shadow: 0 0 0 0.25em rgba(167, 42, 17, 0.75) !important;
}

.formulario-error {
  font-size: 0.8rem;
  color: #FCFFFE;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  display: inline-block;
  text-align: center;
  font-family: "Mukta", sans-serif;
  width: 100%;
}

.pedido-form [required]:valid {
  border: thin solid #00C49A;
}

.pedido-form [required]:invalid {
  border: thin solid #A72A11;
}

.formulario-error .is-active {
  display: block;
  -webkit-animation: show-message 1s 1 normal 0 ease-out both;
          animation: show-message 1s 1 normal 0 ease-out both;
}

@-webkit-keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*  Hero    */
.hero {
  height: 100vh;
  margin-top: 1rem;
  padding: 2.5em 0 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/index_hero.jpg);
  background-position: bottom;
  /* El span pone el fondo de color y así 
    puedo tener que el fondo se mantenga en todo
    el texto sin depender de las col */
  /*  box-decoration-break en el span junto con 
        text-align en el title/text hacen que el 
        fondo se pegue al contenido del texto
     */
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__title {
  margin: .5em 0;
  letter-spacing: 2px;
}

.hero__text {
  margin: 0 0 1.5em 0;
  font-size: 1.563rem;
}

.hero__title, .hero__text {
  color: #FCFFFE;
  font-family: "Mukta", sans-serif;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: left;
}

.hero__title span,
.hero__text span {
  background-color: #0A0908;
  /*  agregar los dos que brave no soporta 
            box-decoration-break solo
         */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.hero__title span {
  font-size: 3.052rem;
  padding: 0.05em 0.3em 0.05em 0.3em;
  line-height: 1.3;
}

.hero__text span {
  font-size: 1.563rem;
  padding: 0.25em 0.7em;
  line-height: 1.6;
  font-weight: 300;
}

.hero__btn {
  cursor: pointer;
}

@media (min-width: 992px) {
  .hero__text span {
    font-size: 1.953rem;
  }
}

/* @media (min-width: 1400px){
    .hero{
        height: 85vh;
    }
} */
@media (min-width: 1600px) {
  .hero {
    height: 80vh;
  }
}

.image-row__image {
  width: 100%;
}

.map {
  margin-bottom: -3.5rem;
}

.lds-dual-ring {
  font-size: 1.953rem;
}

.main__compra {
  min-height: 100vh;
  padding: 2rem 0;
  background-color: #F0F2EF;
  position: relative;
}

.loading {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pedido-form {
  background-color: #FCFFFE;
}

.confirmacion {
  min-height: 70vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmacion__resultado {
  max-width: 75vw;
  text-align: center;
}

.confirmacion__texto {
  max-width: 25rem;
  margin: 0 auto;
}

.confirmacion__titulo {
  margin-bottom: 1em;
}

.confirmacion__icono {
  font-size: 3.052rem;
  margin-bottom: 0.5em;
  color: #00C49A;
}

/* Footer  */
.footer {
  background-color: #0A0908;
  color: #FCFFFE;
  z-index: -99;
}

.footer__logo {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 1.563rem;
  margin-left: 0;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.footer__link {
  text-decoration: none;
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__group a i {
  text-decoration: none;
}

.footer__group .fas,
.footer__group .far,
.footer__group .fab {
  color: #E03616;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 1rem;
}

.footer__social {
  font-size: 1.25rem;
  color: #E03616;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__social:hover, .footer__social:focus, .footer__social:active {
  color: #FCFFFE;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__section {
  margin-bottom: 2rem;
}

.footer p,
.footer i {
  margin-bottom: 0;
}

.footer__link {
  color: #E03616 !important;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__link:hover, .footer__link:focus {
  color: #FCFFFE !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main {
  background-color: #F0F2EF;
}

.menu__title {
  font-size: 3.052rem;
}

.menu__opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__btn {
  border: 2px solid #0A0908;
  background-color: #FCFFFE;
  padding: 0.5em 1em;
  min-width: 7em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu__btn:hover, .menu__btn:focus, .menu__btn:active {
  background-color: #0A0908;
  color: #FCFFFE;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu__btn:focus {
  -webkit-box-shadow: 0 0 0 0.25em rgba(167, 42, 17, 0.75);
          box-shadow: 0 0 0 0.25em rgba(167, 42, 17, 0.75);
}

.menu-active {
  background-color: #0A0908;
  color: #FCFFFE;
  border: 2px solid #0A0908;
}

/*  Header  */
.navbar {
  background-color: #0A0908 !important;
}

.navbar-brand {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 1.563rem;
  margin-left: 0;
  letter-spacing: 0.1rem;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 700;
}

.nav-link,
.navbar-brand {
  cursor: pointer;
}

/*  Agrega margin a los nav-links en desktop */
@media (min-width: 996px) {
  .nav-item {
    margin-left: 1.2rem !important;
  }
}

.navbar-dark,
.navbar-brand,
.navbar-nav,
.nav-link {
  color: #FCFFFE !important;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-dark:hover, .navbar-dark:focus,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav:hover,
.navbar-nav:focus,
.nav-link:hover,
.nav-link:focus {
  color: #E03616 !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.active {
  font-weight: 700;
  color: #FCFFFE !important;
}

.navbar-dark,
.navbar-toggler {
  color: #FCFFFE;
}

.navbar-dark:hover, .navbar-dark:focus,
.navbar-toggler:hover,
.navbar-toggler:focus {
  color: #E03616;
}

.bg-dark {
  background-color: #0A0908 !important;
}

.anchor {
  display: block;
  height: 79px;
  margin-top: -79px;
  visibility: hidden;
}

.pedido {
  background-color: #FCFFFE;
}

.pedido__title {
  font-size: 1.953rem;
}

.pedido__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pedido__item .far {
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.pedido__item .far:hover, .pedido__item .far:focus {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #E03616;
}

.btn-close:focus, .btn-close:active {
  -webkit-box-shadow: 0 0 0 0.25em rgba(167, 42, 17, 0.75);
          box-shadow: 0 0 0 0.25em rgba(167, 42, 17, 0.75);
}
/*# sourceMappingURL=main.css.map */