.main__compra{
    min-height: 100vh;
    padding: 2rem 0;
    background-color: $gray-light;
    position: relative;
}

.loading {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pedido-form{
    background-color: $white;
}

.confirmacion {
    min-height: 100vh;
}

.listado-pedido {
    border: 1px solid $gray-light;
    position: relative;
    
    /* &:before,
    &:after {
        content: '';
        position: absolute;
        left: 5px;
        height: 6px;
        width: 290px;
    }

    &:after {
        bottom: -5px;
        background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -2px / 16px 16px repeat-x,
    } */
}