.main__compra{
    min-height: 100vh;
    padding: 2rem 0;
    background-color: $gray-light;
    position: relative;
}

.loading {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pedido-form{
    background-color: $white;
}

.confirmacion {
    min-height: 100vh;
}