/* Footer  */
.footer{
    background-color: $black;
    color: $white;
    z-index: -99;
}

.footer__logo{
    @include logo();
    font-weight: 500;
}

.footer__link {
    text-decoration: none;
}

.footer__group{
    display: flex;
    align-items: baseline;

    a i {
        text-decoration: none;
    }

    .fas,
    .far, 
    .fab {
        color: $primary-medium;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-right: 1rem;
    }
}

.footer__social{
    font-size: $size5;
    @include links();
}

.footer__section{
    margin-bottom: 2rem;
}

.footer p, 
.footer i {
    margin-bottom: 0;
}


.footer__link  {
    color: $primary-medium !important;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
        color: $white !important;
        transition: all 0.5s ease-in-out;
    }
}