/* Footer  */
.footer{
    background-color: $black;
    color: $white;
    z-index: -99;
}

.footer__logo{
    @include logo();
    font-weight: 500;
}

.footer__group{
    display: flex;
    align-items: baseline;

    .fas,
    .far, 
    .fab {
        margin-right: 15px;
        color: $primary-medium;
    }
}

.footer__social{
    font-size: $size5;
    @include links();
}

.footer__section{
    margin-bottom: 2rem;
}

.footer p, 
.footer i {
    margin-bottom: 0;
}


.footer__text a {
    color: $white !important;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
        color: $primary-medium !important;
        transition: all 0.5s ease-in-out;
    }
}