.menu__title{
    font-size: $size1;
}

.menu__opciones{
    display: flex;
    flex-direction: column;
}

.menu__btn{
    border: 2px solid $black;
    background-color: $white;
    padding: 0.5em 1em;
    // Hace que los botones del menu sean iguales
    min-width: 7em;
    transition: all 0.5s ease-in-out;

        &:hover,
        &:focus, 
        &:active {
            background-color: $black;
            color: $white;
            transition: all 0.5s ease-in-out;
        }
        
        &:focus {
            box-shadow: 0 0 0 0.25em $white;
        } 
}

.menu-active{
    background-color: $black;
    color: $white;
    border: 2px solid $black;
}