.pedido{
    background-color: $white;
}

.pedido__title{
    font-size: $size3;
}

.pedido__item{
    display: flex;
    align-items: baseline;

    .far{
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        &:hover,
        &:focus {
            transition: all 0.15s ease-in-out;
            color: $primary-medium;
        }
    }

}

// Override Bootstrap
.btn-close {
    &:focus, 
    &:active {
        box-shadow: 0 0 0 0.25em $primary-medium;
    } 
}