.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    
    &__primary{
        padding: 0.75em 1.5em;
        font-size: $size5;
    }
    
    &__secondary{
        font-size: $size7;
        padding: 0.5em 1em;
    }

    &__primary,
    &__secondary {
        background-color: $primary-medium;
        color: $white;
        transition: all 0.5s ease-in-out;

        &:hover,
        &:focus, 
        &:active {
            background-color: $black;
            color: $white;
            transition: all 0.5s ease-in-out;
        }
        
        &:focus {
            box-shadow: 0 0 0 0.25em $white;
        } 
    }
}

.btn--disabled{
    opacity: 0.8%;
}

.btn__card-pedido{
    padding: 0.5em 0;
}

.btn__full-width{
    width: 100%;
    
}