.card{
    max-width: 300px;
    border-radius: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Hace que piezas y btn estén siempre en la parte 
// de abajo de la card
.card__bottom-info{
    justify-self: flex-end;
}

.card__title,
.card__description{
    margin-bottom: 0.45em;
}

.card__description{
    font-size: $size7;
    margin-bottom: 0;
    line-height: 25px;
}

.card__title{
    font-size: $size5;
    position: relative;
    margin-left: 10px;

    &:before{
        content: '';
        position: absolute;
        background-color: $primary-medium;
        width: 4px;
        height: 70%;
        top: 12%;
        left: -10px;
    }
}

.card__price{
    display: flex;
    justify-content: space-between;
    border: 1px solid $gray-medium;
    padding: 0.25rem 0.5rem;

    &__text,
    &__amount{
        margin-bottom: 0;
    }

    &__text{
        text-transform: uppercase;
    }

    &__amount{
        font-weight: 700;
    }
}

// Override border-radius en card-img
.card-img, 
.card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}