.card{
    max-width: 300px;
    border-radius: 0;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title,
.card__description{
    margin-bottom: 0;
}

.card__description{
    font-size: $size7;
    margin-bottom: 0;
}

.card__title{
    font-size: $size4;
    position: relative;
    margin-left: 7px;

    &:before{
        content: '';
        position: absolute;
        background-color: $primary-medium;
        width: 4px;
        height: 70%;
        top: 12%;
        left: -7px;
    }
}

.card__price{
    display: flex;
    justify-content: space-between;
    border: 1px solid $gray-medium;
    padding: 0.25rem 0.5rem;

    &__text,
    &__amount{
        margin-bottom: 0;
    }

    &__text{
        text-transform: uppercase;
    }

    &__amount{
        font-weight: 700;
    }
}