.cart{
    padding: 2rem;
    border-radius: 100%;
    background-color: $primary-medium;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5rem;
    right: 5vw;
    z-index: 10;
    filter: drop-shadow(5px 5px 0px $black);
    transition: all 0.5s ease-in-out;
    
    i{
        font-size: $size3;
        color: $white;
    }

}

.cart:hover,
.cart:focus, 
.cart:active {
        transition: all 0.5s ease-in-out;
        transform: translate(5px, 5px);
        filter: drop-shadow(0 0 0 $black);
        background-color: $black;
        color: $primary-medium;
    }

@media(min-width: 576px){
    .cart{
        right: 12vw;
    }
}