.form-control {
    border-radius: 0;
}

.formulario [required]:valid {
    border: thin solid $form-color-ok;
}

.formulario [required]:invalid {
    border: thin solid $form-color-error;
}

// Override Bootstrap
.form-control {
    &:focus, 
    &:active {
        box-shadow: 0 0 0 0.25em $primary-dark-transparent;
    } 
}