// Mixin para imágenes de fondo
@mixin background-image {
    max-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin logo {
    font-family: $font-logo;
    font-size: $size4;
    margin-left: 0;
    letter-spacing: 0.1rem;
}