
// Colores
$primary-light: #FFC370;
$primary-medium: #FF9F1C;
$primary-dark: #FF990A;
$gray-light: #F0F2EF;
$gray-medium: #E2DFE1;
$gray-dark: #B2A9AF;
$white: #FCFFFE;
$black: #0A0908;

// Fuentes
$font-text: 'Mukta', sans-serif;
$font-title: 'Mukta', sans-serif;
$font-logo: 'Zen Tokyo Zoo', cursive;

// Tamaños
$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;

$size-large: 3.815rem;
$size-xxl: 4.768rem;

$size-mobile: 16px;
$size-tablet: 18px;
$size-desktop: 22px;
$size-desktop-lg: 24px;
