
// Colores
$primary-light: #57534e;
$primary-medium: #E03616;
$primary-dark: #A72A11;
$primary-dark-transparent: rgba(167, 42, 17, 0.75);
$gray-light: #F0F2EF;
$gray-medium: #E2DFE1;
$gray-dark: #B2A9AF;
$white: #FCFFFE;
$black: #0A0908;
$black-transparent: rgba(10, 9, 8, 0.75);

$color-success: #00C49A;

// Fuentes
$font-text: 'Mukta', sans-serif;
$font-title: 'Mukta', sans-serif;
$font-logo: 'Zen Tokyo Zoo', cursive;

// Tamaños
$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;

$size-large: 3.815rem;
$size-xxl: 4.768rem;

$size-mobile: 16px;
$size-tablet: 18px;
$size-desktop: 22px;
$size-desktop-lg: 24px;
